.container .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .row .col {
  width: calc(16.6666666667% - 20px);
  margin-bottom: 40px;
}

.container .row .col a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container .row .col a .card {
  text-transform: uppercase;
  font-size: 12px;
  width: 100px;
}

.container .row .col a .card img {
  display: block;
  width: 100px;
  padding-bottom: 10px;
}

.container .comic_info > * {
  margin-bottom: 10px;
}

.container .comic_info > * span {
  font-weight: bold;
}

.container {
  width: 80%;
  margin: 0 auto;
}

